.firm {
  margin-top: 24px;
}

.firm-card {
  background-color: #FFFFFF;
  border-radius: 4px;
}

.firm-card__pic {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 40px;
}