.inform-panel {
  padding: 24px 16px;
  border-radius: 4px;
  background-color: #FFFFFF;
}

.inform-card__icon {
  width: 56px;
  height: 40px;
  padding-right: 16px;

  color: #BB86FC;
}

.inform-card {
  display: flex;
  
}

.inform-card__content {
  max-width: 242px;
}

.inform-card__title {
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 24px;
  font-size: 16px;
}

.inform-card__text {
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 20px;
  font-size: 14px;  
}
